/*-----------------------------------------------------------------------------------*/
/*Grid http://www.responsivegridsystem.com/
/*-----------------------------------------------------------------------------------*/

/* GRID */

.grid {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.grid:before,
.grid:after {
  content:"";
  display:table;
}
.grid:after { clear:both; }
.grid { zoom:1; /* For IE 6/7 (trigger hasLayout) */ }

/* GRID COLUMN SETUP */

.col {
	display: block;
	margin: 1% 0 1% 0%;
  float:left;
  width: 100%; 
}

@media only screen and (min-width: 480px) {
  .col {
    margin: 1% 0 1% 1.6%;
  }

  .col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */

  /*  GRID OF TWELVE  */
  .span_12 { width: 100%; }
  .span_11 { width: 91.46%; }
  .span_10 { width: 83%; }
  .span_9 { width: 74.54%; }
  .span_8 { width: 66.08%; }
  .span_7 { width: 57.62%; }
  .span_6 { width: 49.16%; }
  .span_5 { width: 40.7%; }
  .span_4 { width: 32.24%; }
  .span_3 { width: 23.78%; }
  .span_2 { width: 15.32%; }
  .span_1 { width: 6.86%; }


  .push, .pull  { position: relative; }

  .span_1.push { left: 93.13%;}
  .span_2.push { left: 84.68%;}
  .span_3.push { left: 76.22%;}
  .span_4.push { left: 67.76%;}
  .span_5.push { left: 59.3%;}
  .span_6.push { left: 80.84%;}
  .span_7.push { left: 42.38%;}
  .span_8.push { left: 33.92%;}
  .span_9.push { left: 25.46%;}
  .span_10.push { left: 17%;}
  .span_11.push { left: 8.54%;}
  .span_12.push { left: 100%;}

  .span_1.pull { right: 93.13%;}
  .span_2.pull { right: 84.68%;}
  .span_3.pull { right: 76.22%;}
  .span_4.pull { right: 67.76%;}
  .span_5.pull { right: 59.3%;}
  .span_6.pull { right: 80.84%;}
  .span_7.pull { right: 42.38%;}
  .span_8.pull { right: 33.92%;}
  .span_9.pull { right: 25.46%;}
  .span_10.pull { right: 17%;}
  .span_11.pull { right: 8.54%;}
  .span_12.pull { right: 100%;}
}